* {
    margin:0;
}

body {
    --bodybg: #DDD;
    --framebg: #EEE;
    --contentbg: #FFF;
    --textcolor: black;
    --linkcolor: rgb(0,0,238);
    --lighttextcolor: rgb(83,83,83);

    --logborder: #888888;
    --buttoncolor: rgb(239,239,239);
    --buttonborder: #888888;
    --buttonhover:  #DEDEDE;
    --buttonclicked: #EEE;

    background-color: var(--bodybg);
    font-family: "Courier New", courier, monospace;
    color: var(--textcolor);
    font-size: 14px;
    font-weight: bolder;
    overflow-wrap: break-word;

    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;

    /*character colors*/
    --callie: #a349a4;
    --marie: #b5e61d;
    --lilcal: #ffc90e;
    --gr8y: #888888;
}

.sarah {
    --bodybg: black;
    --framebg: rgb(255,180,200);
    --contentbg: #FFF;
    --textcolor: black;
    --linkcolor: #bd1864;
    --strongcolor: #bd1864;
    --lighttextcolor: black;

    --logborder: #888888;
    --buttoncolor: rgb(239,239,239);
    --buttonborder: #888888;
    --buttonhover:  #DEDEDE;
    --buttonclicked: #EEE;
}

.lexi {
    --bodybg: #DDD;
    --framebg: #EEE;
    --contentbg: #FFF;
    --textcolor: black;
    --linkcolor: rgb(0,0,238);
    --strongcolor: black;
    --lighttextcolor: rgb(83,83,83);

    --logborder: #888888;
    --buttoncolor: rgb(239,239,239);
    --buttonborder: #888888;
    --buttonhover:  #DEDEDE;
    --buttonclicked: #EEE;
}

main.pageFrame, div.pageContent, section.mediaContent, figure.panels {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

main.pageFrame, div.pageContent {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
}

main.pageFrame {
    justify-content: center;
    margin: 0 auto;
    padding: 7px 0 23px;
    position: relative;
    width: 950px;
    background-color: var(--framebg);
}

div.pageContent {
    background-color: var(--contentbg);
    max-width: 950px;
    min-width: 650px;
}

h1.pageTitle {
    font-size: 32px;
    line-height: 1.1;
    max-width: 590px;
    padding: 15px 0;
    text-align: center;
}

section.textContent {
    margin-top: 30px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

section.textContent div.prattle p {
    font-size: 1em;
    line-height: 1.15;
    width: 600px;
    margin: 0 0 30px;
    text-align: center;
}

nav.pageNavigation {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

nav.pageNavigation div.nextArrow {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400;
}

a {
    color: var(--linkcolor);
    text-decoration-color: var(--linkcolor);
    text-decoration-line: underline;
    text-decoration-style: solid;
    cursor: pointer;
}

nav.pageNavigation div.footerNav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    line-height: 10px;
    font-size: 10px;
}

nav.pageNavigation div.footerNav ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding: 0 0 15px;
}

nav.pageNavigation div.footerNav ul li {
    float: left;
}

nav.pageNavigation div.footerNav ul li:not(:last-child):after {
    content: "|";
    margin: 0 0.3em;
}

nav.pageNavigation div.footerNav ul.meta, nav.pageNavigation div.footerNav ul.meta a {
    color: var(--lighttextcolor);
    font-weight: 300;
    text-decoration-color: var(--lighttextcolor);
    text-decoration-line: none;
}

nav.pageNavigation div.footerNav ul.meta a:hover {
    text-decoration-line: underline;
}

footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 110px;
    width: 950px;
    justify-content: space-between;
    padding: 0 12px 0;
    user-select: none;
}

img {
    image-rendering: pixelated;
}

nav.logItems {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 890px;
}

a.switchOrder {
    padding-left: 30px;
    align-self: self-start;
}

strong {
    color: var(--strongcolor);
}

/* log stuff */
details.log {
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 0 0 30px;
    padding: 1px;
    position: relative;
    border: 1px dashed var(--logborder);
}

details.log summary {
    list-style: none;
}

details.log summary.button {
    position: inherit;
    text-transform: capitalize;
    z-index: 0;

    /*basically just reimplementing a button*/
    align-items: flex-start;
    background-color: var(--buttoncolor);
    border-color: var(--buttonborder);
    border-style: outset;
    border-width: 1px;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--textcolor);
    cursor: default;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3333px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 3px 8px 3px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    word-spacing: normal;
    writing-mode: horizontal-tb;
}

details.log summary.button:hover {
    background-color: var(--buttonhover);
}

details.log summary.button:active {
    background-color: var(--buttonclicked);
}

details.log[open] summary.button .label::before {
    content: 'Hide ';
}

details.log summary.button .label::before {
    content: 'Show ';
}

details.log p.logContent {
    padding: 15px 5% 15px;
    text-align: left;
    line-height: 1.15;
    font-size: 1em;
    margin: 0;
    z-index: 0;
    position: inherit;
    font-weight: 700;
}

.lilcal {
    color: var(--lilcal);
}

.gr8y {
    color: var(--gr8y);
}