---
pagination:
    data: displayStyles
    size: 1
    alias: displayStyle
displayStyles:
 - desc
 - asc
permalink: "squidbreak/log_{{ displayStyle }}/index.html"
---

<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Adventure Log</title>
        <meta name="description" content="Micro Squid Ink Adventures - SquidBreak"/>

        <meta property="og:title" content="Adventure Log"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{{ globalData.rootDir }}/images/logo.png"/>
        <meta property="og:url" content="squidbreak/log_{{ displayStyle }}/index.html"/>
        <meta property="og:description" content="Micro Squid Ink Adventures - SquidBreak"/>
        
        <link rel="stylesheet" href="{{ globalData.rootDir }}/css/comicPage.css"/>
        <link rel="icon" type="image/x-icon" href="{{ globalData.rootDir }}/images/favicon.ico"/>
    </head>

    <body>
        <main class="pageFrame">
            <div class="pageContent">
                <h1 class="pageTitle">Adventure Log</h1>
                {% if displayStyle=="asc" %}
                    <a href="{{ globalData.rootDir }}{{ pagination.href.first }}" class="switchOrder">View newest to oldest</a>
                {% else %}
                    <a href="{{ globalData.rootDir }}{{ pagination.href.last }}" class="switchOrder">View oldest to newest</a>
                {% endif %}
                <nav class="logItems">
                    {% if displayStyle=="asc" %}
                        {% for comicPage in collections.comicPage %}
                            {% if comicPage.data.pagination.pageNumber > 0 %}
                            {{ comicPage.data.thisComicPage.time.day }}/{{ comicPage.data.thisComicPage.time.month }}/{{ comicPage.data.thisComicPage.time.year }} - 
                            <a href="{{ globalData.rootDir }}{{ comicPage.page.url }}" class="{{ comicPage.data.thisComicPage.theme }}">{{ comicPage.data.thisComicPage.title }}</a>
                            <br/>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% for comicPage in collections.comicPage reversed %}
                            {% if comicPage.data.pagination.pageNumber > 0 %}
                                {{ comicPage.data.thisComicPage.time.day }}/{{ comicPage.data.thisComicPage.time.month }}/{{ comicPage.data.thisComicPage.time.year }} - 
                                <a href="{{ globalData.rootDir }}{{ comicPage.page.url }}" class="{{ comicPage.data.thisComicPage.theme }}">{{ comicPage.data.thisComicPage.title }}</a>
                                <br/>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </nav>
            </div>
        </main>
        <footer>
            <img src="{{ globalData.rootDir }}/images/logo.png" width="88px" height="91px" alt="logo"/>
            <img src="{{ globalData.rootDir }}/images/logo.png" width="88px" height="91px" alt="logo"/>
        </footer>
    </body>
</html>