---
pagination:
    data: comicPages
    size: 1
    alias: thisComicPage
    addAllPagesToCollections: true
permalink: "squidbreak/{{ pagination.pageNumber }}/index.html"
rootDir: "/MSIA"
tags: comicPage
---

<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>{{ thisComicPage.title }} - SquidBreak</title>
        <meta name="description" content="Micro Squid Ink Adventures - SquidBreak"/>

        <meta property="og:title" content="{{ thisComicPage.title }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="{{ rootDir }}/images/{{ thisComicPage.panels[0] }}"/>
        <meta property="og:url" content="squidbreak/{{ pagination.pageNumber }}/index.html"/>
        <meta property="og:description" content="Micro Squid Ink Adventures - SquidBreak"/>
        
        <link rel="stylesheet" href="{{ rootDir }}/css/comicPage.css"/>
        <link rel="icon" type="image/x-icon" href="{{rootDir}}/images/favicon.ico"/>
    </head>

    <body>
        <main class="pageFrame">
            <div class="pageContent">
                <section class="mediaContent">
                    <h1 class="pageTitle">{{ thisComicPage.title }}</h1>
                    <figure class="panels">
                        {%- for filename in thisComicPage.panels -%}
                            <img src="{{ rootDir }}/images/{{ filename }}" width="782" height="543" alt />
                        {%- endfor -%}
                    </figure>
                </section>
                <section class="textContent">
                    <div class="prattle">
                        {%- for paragraph in thisComicPage.prattle -%}
                            <p>{{ paragraph }}</p>
                        {%- endfor -%}
                    </div>
                    <nav class="pageNavigation">
                        {% if pagination.href.next %}
                        <div class="nextArrow">
                            <p> &gt; <a href="{{ rootDir }}{{ pagination.href.next }}">
                                {{ pagination.page.next.title }}
                            </a></p>
                        </div>
                        {% endif %}
                        <div class="footerNav">
                            <ul> 
                                {% if pagination.href.previous %}
                                <li><a href="{{ rootDir }}{{ pagination.hrefs[1] }}">Start Over</a></li>
                                <li><a href="{{ rootDir }}{{ pagination.href.previous }}">Go Back</a></li>
                                <li><a href="{{ rootDir }}/squidbreak/log/">Adventure Log</a></li>
                                {% endif %}
                            </ul>
                            <ul class="meta">
                                <li>{{ thisComicPage.time.month }}/{{ thisComicPage.time.day }}/{{ thisComicPage.time.year }}, 
                                    {{ thisComicPage.time.hour }}:{{ thisComicPage.time.minute }} {{ thisComicPage.time.half }} {{ thisComicPage.time.zone }}</li>
                                <li>{{ thisComicPage.poster }}</li>
                            </ul>
                        </div>
                    </nav>
                </section>
            </div>
        </main>
        <footer>
            <img src="{{ rootDir }}/images/logo.png" width="88px" height="91px" alt="logo"/>
            <img src="{{ rootDir }}/images/logo.png" width="88px" height="91px" alt="logo"/>
        </footer>
    </body>
</html>